* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #677ce7, #754da5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin-bottom: 2rem;
    color: white;
    font-size: 26px;
    text-shadow: 1px 1px 10px rgb(43, 43, 44);;
}

.calculator {
  height: 200px;
  background-color: white;
  border-radius: 1rem;
  width: 240px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(43, 43, 44);
}

#display {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  box-shadow: inset 1px 1px 1px rgb(168, 174, 196);
  background-color: #f0f0f0;
  height: 85px;
  width: 204px;
  font-weight: 800;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #414141;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.calculator_keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 204px;
}

.key-operator {
  background: linear-gradient(to right, #fe9949, #ff7770);
  color: white;
  font-weight: 1000;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  box-shadow: 1px 1px 1px rgb(168, 174, 196);
  will-change: box-shadow, transform;
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    1px 1px 1px rgb(168, 174, 196),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  font-size: 18px;
  color: #414141;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.clean-btn {
  color: white;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
